@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600,700&subset=latin,latin-ext);
@import url(https://fonts.googleapis.com/css?family=Source+Serif+Pro:400,600,700);
@import 'reset';
@import "bourbon";
@import 'grid-settings';
@import 'neat';
@import 'mixins';


/* ==========================================================================
   Perello i Associats Custom Styles
========================================================================== */ 

html {
  font-size:100%;
  background-color: #fcfcfc;
}
h1{
	margin:0;
  padding:0;
}
body{
 font-size:10px;
}
.menu-container{
  @include outer-container;
}
.container{
  @include outer-container;
  border: 1px solid #f5f5f5;
  background-color: white;
}

.full-width{
  width: 100%;
}
.contenidor-esquerra{
  @include span-columns(12);
  background-color: white;
  min-height: 120px;
  position: relative;
  // Media Queries
      @include media($m) {
        min-height: 350px;
        @include span-columns(4)
                }
    // 
    @include media($l) {
        @include span-columns(6);
        min-height: 550px;
                }
    // 
}
.contenidor-dreta{
  @include span-columns(12);
  background-color: white;
  // Media Queries
    @include media($m) {
      @include span-columns(8); 
                }
    // 
    @include media($l) {
        @include span-columns(6);
        position: relative;
                }
    // 
}

ul{
  @include no-space;
}
/* ==========================================================================
   Menu Principal
   ========================================================================== */
.top-bar{
	margin:0;
}

.logo{
  margin: 0;
  padding: 0;
}

.logo img{
  height: 50px;
	margin-left: 20px;
  float:left;
}

#lletres-logo{
	@include SerifPro(700, 1.8em, #0a0a0a);
  line-height: 50px;
  margin: 0 auto 0 5px;
  padding: 0;
  float:left;
}

nav{
  position:relative;
}

nav ul{
  margin: 0;
  padding: 0; 
  padding-bottom: 10px;
  position: absolute;
  background-color: white;
  top: 48px;
  left:0;
  width: 100%;
  box-shadow: 0 5px 10px rgba(0,0,0,.1);
  // Media Queries
    @include media($l) {
      position:relative;
      float:right;
      width:auto;
      top: 0;
      background-color: transparent;
      
      box-shadow:none;
      }
}


nav ul li{
  display: block;
  text-align: center;
  // Media Queries
    @include media($l) {
      display: inline-block;
      margin-left: 20px;
      text-align: left;
                }
}

nav ul li a{
  @include SerifPro(700, 1.5em, #0a0a0a);
  text-decoration: none; 
  line-height: 50px;
  // transition: 0.3s;
  &:hover{
    color: #2951a7;
    text-decoration: none;
  }
}
.menu{
  display: none;
  // Media Queries
    @include media($l) {
      display: block;
                }
}
.menu_icon{
  width: 30px;
  height: 24px;
  background-color: green;
  position: absolute;
  right:20px;
  margin-top: 11px;
  display: block;
  // Media Queries
    @include media($l) {
      display: none;
                } 
}

#entitats_socials_link{
  margin-right: 20px; 
}
// nav ul li:last-child {
//   margin:0;
// }
.top-bar { 
	margin: 0;
  width: 100%;
  height: 50px;
  border-top: 2px solid #2951a7;
  border-bottom: 1px solid #eeeeee;
  background-color: #ffffff;
  opacity: 0.98;
  position: fixed;
  z-index: 99999;
}
// .cta-menu{
//   height: 35px;
//   background-color: #2951a7;
//   border-radius: 2px;
//   @include opensans(600, 1.5em, #ffffff);
//   line-height: 35px;
//   margin: 0 auto;
//   text-align: center; 
//   text-decoration: none;
//   display: block;
//   padding: 0 10px 0 10px;
//   transition: 0.3s;
//   &:hover{
//     color: #7f8db4;
//     background-color: #23448d;
//   }
//  }
.cta-contacte{
    width:90px; 
    height: 35px;
    background-color: #2951a7;
    @include opensans(600, 1.5em, #ffffff);
    border-radius: 2px;
    margin: 6px 50px 0 0;
    text-decoration: none;
    text-align: center; 
    display:block;
    padding: 7px 10px 0 10px;
    position: absolute;
    right: 10px;
    transition: 0.3s; 
    // Media Queries
        @include media($l) {
          display: none;
          margin: 6px 10px 0 0;
                    }
}

/* ==========================================================================
   Hero
   ========================================================================== */
.hero h1{
  @include SerifPro(700, 3.6em);
  text-align: center;
  padding-top: 40px;
  // Media Queries
    @include media($m) {
      @include SerifPro(700, 4.8em);
      padding-top: 65px;
                }
}
.hero h3{
  display:none;
  // @include SerifPro(400, 1.8em,#2951a7);
  // text-align: center;
  // padding: 0 10px; 
  // Media Queries
    @include media($m) {
      display:block;
      @include SerifPro(400, 2.4em,#2951a7);
      text-align: center;
      margin:1px 0 0 0;
      padding: 0 10px;
                }
}
.stroke{
  display:none;
  color: #f0f0f0;
  width: 210px;
  height: 1px;
  margin: 15px auto 10px auto;
  position: relative;
  // Media Queries
    @include media($m) {
      display:block;
                }
}
.cta{
  height: 42px;
  background-color: #2951a7;
  max-width: 200px;
  border-radius: 2px;
  @include opensans(600, 2em, #ffffff);
  line-height: 42px;
  margin: 20px auto 0 auto;
  text-align: center; 
  text-decoration: none;
  display: block;
  width: 126px;
  transition: 0.3s;
  // Media Queries
    @include media($m) {
      display:block;
      height: 50px;
      max-width: 200px;
      line-height: 50px;
      margin: 40px auto 0 auto;
      display: block;
      width: 126px;            
       }
  &:hover{
    color: #7f8db4;
    background-color: #23448d;
  }
}
.hero{
    background: #fcfcfc url("../img/hero-bg-desktop.jpg") center bottom no-repeat;
    height: 600px;
    max-height: 500px;
    padding-top: 50px;
    // Media Queries
      @include media($m) {
        height: 90vh;
        max-height: 690px;
                  }
}
.serveis-clients{
  @include outer-container;
  padding: 0;
  // Media Queries
    @include media($m) {
      padding: 0 20px; 
                }
    @include media($l) {
      padding: 0 20px;
                }
     @include media($xl) {
      padding: 0 40px;
                }
}
/* ==========================================================================
   Particulars
   ========================================================================== */
#particulars{
  @include outer-container;
	margin: -180px auto auto auto;
  background-color: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
 // Media Queries
      @include media($m) {
        margin: -50px auto auto auto;
        padding-top: 60px;
        padding-bottom: 60px;
                }
    @include media($l) {
        padding-top: 60px;
        padding-bottom: 60px;
                }
    @include media($xl) {
        padding-top: 100px;
        padding-bottom: 100px;
                }
}
#particulars .contenidor-esquerra{
    @include media($l) {
      margin-top: 40px;
                }
    @include media($xl) {
      margin-top: 30px;
                }
}
h2{
  @include SerifPro(700, 3.8em);
  margin: 0 auto;
  text-align: center;
  // Media Queries
      @include media($m) {
        text-align: left;
                }
    @include media($l) {
      
                }
}
h3{
  @include SerifPro(600, 1.6em, #2951a7);
  line-height: 28px;
  text-align: center;
  // Media Queries
    @include media($m) {
      @include SerifPro(400, 2em, #2951a7);
      text-align: left;
      line-height: 32px;
                }
    @include media($l) {
      margin:14px auto;
                }
}
h4{
  @include opensans(600, 2.4em);
  // text-align: center;
  text-align: left;
  margin: 0 auto;
}
h5{
  @include SerifPro(400, 1.6em, #999999);
  margin-top:40px;
  text-align: center;
  @include no-space;
  // Media Queries
    @include media($m) { 
      text-align: left;
                }
    @include media($l) {
        @include SerifPro(400, 1.6em, #999999);
        
                }
}
#particulars .stroke-titol{
  width: 195px;
  border-bottom: 2px solid #f5f5f5;
  margin: 0 auto;
  // Media Queries
      @include media($m) { 
        margin: 0px;
                }
      @include media($l) {
        margin-top: 4px;
                }
}
.serveis{
  margin-top: 20px;
  padding: 0;
  list-style-type: none;
  @include span-columns(10.5);
  @include shift(.5);
  // Media Queries
      @include media($m) { 
        @include span-columns(11);
        @include shift(0);
                }
      @include media($l) {
        border: 1px solid #f5f5f5; 
        @include span-columns(5 of 6);
        @include shift(0);
                }
}
.serveis1{
  margin-top: 40px;
  padding: 0;
  list-style-type: none;
  border: 1px solid #f5f5f5;
  border-right: none;
  @include span-columns(5 of 6); 
  @include shift (1);
}
.llista{
  @include opensans(400, 1.4em);
  border-bottom: 1px solid #f5f5f5;
  padding:19px 0px 19px 0;
  // Media Queries
      @include media($m) { 
        @include opensans(400, 1.6em);
        padding:19px 15px 19px 0;
                }
      @include media($l) {
        padding:19px 15px;
                }
}
.blue-dash{
  margin-left:1%;
  margin-right:2%;
  color:#2951a7;
}
li:last-child{
  border-bottom: none;
} 

//IMAGES - RESPONSIVE+RETINA IMAGE DECLARATION
.marc-foto-1{
  width: 120px;
  height: 120px;
  background-color: #2951a7;
  position: absolute;
  top: 0%;
  left: 50%;
  border-radius: 50%;
  margin: 0px 0 0 -60px;
    // Media Queries 
    @include media($m) {
      width:170px;
      height:170px; 
      top: 0%;
      left: 50%;
      margin: 0 0 0 -85px;
    }
    @include media($l) {
      width:380px;
      height: 550px; 
      top: 50%;
      margin: -275px 0 0 -190px;
      border-radius: 0;
    }
}
.image1{ 
  z-index: 99;
  // MOBILE
  background-image: url(../img/img1_S.jpg); 
      // RETINA
      @include hidpi(2) {
        background-image: url(../img/particulars1_S_@2x.jpg);  
        background-size: 100%;
      }
  // TABLET
  @include media($m) {
  background-image: url(../img/particulars1_M.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/particulars1_M_@2x.jpg);  
          background-size: 100%;
        }
   }
 // DESKTOP
  @include media($l) {
      background: url(../img/particulars1_L.jpg) center top;  
           // RETINA
            @include hidpi(2) {
              background-image: url(../img/particulars1_L_@2x.jpg);  
              background-size: 100%;
        }
      }
}

//FORMA
.marc-forma-1{
  display:none;
  // width: 310px;
  // height: 310px;
  // margin: -160px 0 0 -160px;
    // Media Queries 
    @include media($l) { 
      display:block;
      width: 420px;
      height: 420px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -210px 0 0 -210px;
    }
    @include media($xl) { 
      width: 510px;
      height: 510px;
      margin: -260px 0 0 -260px;
    }
}
.cercle{
  width: 100%;
}

/* ==========================================================================
   Autonoms i Freelance
   ========================================================================== */
#autonoms{
  @include outer-container;
  margin: -1px auto auto auto;
  background-color: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box; //serveix per contar el borde com a part interna de la caixa
 // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          padding-top: 100px;
          padding-bottom: 100px;
                }
    // 
}
.esquerra{
  @include span-columns(5 of 6);
  @include shift(1);
}
#autonoms .stroke-titol{
  width: 390px;
  margin-top: 4px;
  border-bottom: 2px solid #f5f5f5;
} 
#autonoms .serveis{
  @include span-columns(5 of 6);
  @include shift(1);
}
//Contenidors fotos
.marc-foto-2{ 
  background-color: #2951a7;
  z-index:999;
    position: relative;
  // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          @include span-columns(4 of 6);
          @include shift(1);
          height: 270px;
                }
    // 
}
.marc-foto-3{
  height: 270px;
  background-color: #2951a7;
  z-index:999;
    position: relative;
  // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          @include span-columns(4 of 6);
          @include shift(1);
          height: 270px;
          margin-top: 70px;
                }
    // 
}

//IMAGES - RESPONSIVE+RETINA IMAGE DECLARATION
.image2{ 
  z-index: 99;
  // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {
  background-image: url(../img/autonoms1_L.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/autonoms1_L_@2x.jpg);  
          background-size: cover;
        }
      }
}
.image3{ 
  z-index: 99;
  // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {
  background-image: url(../img/autonoms2_L.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/autonoms2_L_@2x.jpg);  
          background-size: cover;
        }
      }
}
.rombo{
  width: 480px;
  height: 480px;
  margin-left: 9.5%;
  z-index:1;
  margin-top: -625px;
  position: relative;
}
/* ==========================================================================
PIMES i Startups
========================================================================== */
#pimes{
  @include outer-container;
  margin: -1px auto auto auto;
  background-color: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
 // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          padding-top: 100px;
          padding-bottom: 100px;
                }
    // 
}
.top-fotos{
  @include outer-container;
  @include clearfix;
}
.contenidor-centre{
  @include span-columns(10);
  @include shift (1);
  z-index: 999;
  position: relative;
}
.bloc{
  @include span-columns(1 of 3);
  height: 258px; 
  background-color: yellow;
}
.rectangle-gris{
  @include span-columns(11);
  @include shift (.5);
  height: 160px;
  background-color:#f7f7f7;
  z-index: 1; 
  margin-top: -210px;
}
.image4{
  // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {

  background-image: url(../img/pimes1_L.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/pimes1_L_@2x.jpg);  
          background-size: 100%;
        }
      }

}
.image5{
    // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {

  background-image: url(../img/pimes2_L.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/pimes2_L_@2x.jpg);  
          background-size: 100%;
        }
      }

}
.image6{
  // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {

  background-image: url(../img/pimes3_L.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/pimes3_L_@2x.jpg);  
          background-size: 100%;
        }
      }

}
#pimes h5{
  text-align: center;
  margin-top: 40px;
}
#pimes h2{
  text-align: center;
  margin:0 auto;
}
#pimes .stroke-titol{
  width: 290px;
  margin: 4px auto;
  border-bottom: 2px solid #f5f5f5;
}
#pimes h3{
  text-align: center;
  margin:0 auto;
}
#pimes .contenidor-esquerra{
  @include span-columns(6);
  min-height: 400px;
  background-color: white;
  position: relative;
}
#pimes .contenidor-dreta{
  @include span-columns(6);
  min-height: 400px;
  background-color: white;
}
#pimes .serveis{
  margin-top: 40px;
}

/* ==========================================================================
Gran Empresa
========================================================================== */
#gran-empresa{
  @include outer-container;
  margin: -1px auto auto auto;
  background-color: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
 // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          padding-top: 100px;
          padding-bottom: 100px;
                }
    // 
}
.marc-foto-4{ 
  z-index: 999;
  position: relative;
  background-color: #2951a7;
  // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          @include span-columns(4 of 6);
          @include shift(1);
          height: 260px;
                }
    // 
}
.marc-foto-5{ 
  background-color: #2951a7;
  z-index: 999;
  position: relative;
  // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          @include span-columns(4 of 6);
          @include shift(1);
          height: 260px;
          margin-top: 20px;
                }
    // 
}
.image7{
    // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {

  background-image: url(../img/empresa_1_L.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/empresa_1_L_@2x.jpg);  
          background-size: cover;
        }
      }

}
.image8{
    // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {

  background-image: url(../img/empresa_2_L.jpg);  
       // RETINA
        @include hidpi(2) {
          background-image: url(../img/empresa_2_L_@2x.jpg);  
          background-size: cover;
        }
      }
}
#gran-empresa .stroke-titol{
  width: 410px;
  margin-top: 4px;
  border-bottom: 2px solid #f5f5f5;
} 
.rectangle-distorsionat{
  margin-top: -270px;
  left:9.5%;
  position:relative;
  z-index: 1;
}
/* ==========================================================================
Entitats Socials
========================================================================== */
#entitats-socials{
  @include outer-container;
  margin: -1px auto auto auto;
  background-color: white;
  border: 1px solid #f2f2f2;
  box-sizing: border-box;
 // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          padding-top: 100px;
          padding-bottom: 100px;
                }
    // 
}
#entitats-socials .stroke-titol{
  width: 270px;
  margin-top: 4px;
    border-bottom: 2px solid #f5f5f5;
} 
#entitats-socials .serveis{
  @include span-columns(5 of 6);
  @include shift(1);
}

#entitats-socials .contenidor-dreta{
  position: relative;
  height: 100%;
  margin-top: 5%;
}

.marc-foto-6{ 
  background-color: #2951a7;
  z-index: 999;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
          width: 60%;
          height: 470px;
                }
    // 
}
.rectangle-gris-vertical{
  z-index: 1;
  background-color:#fafafa;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  // Media Queries
      @include media($m) {
                }
    // 
    @include media($l) {
            width: 25%;
            height: 100%;
                }
    // 
}
.image9{
    // // MOBILE
  // background-image: url(../img/img1_S.jpg); 
  //     // RETINA
  //     @include hidpi(2) {
  //       background-image: url(../img/img1_S_@2x.jpg);  
  //       background-size: 100%;
  //     }
  // // TABLET
  // @include media($m) {
  // background-image: url(../img/img1_M.jpg);  
  //      // RETINA
  //       @include hidpi(2) {
  //         background-image: url(../img/img1_M_@2x.jpg);  
  //         background-size: 100%;
  //       }
  //  }
 // DESKTOP
  @include media($l) {
    background-image: url(../img/entitatsocial_2_L.jpg); 
    background-size: cover;
         // RETINA
          @include hidpi(2) {
            background-image: url(../img/entitatsocial_2_L_@2x.jpg);  
          }
        }
}

/* ==========================================================================
Contacte
========================================================================== */
#contacte{
    @include outer-container;
    margin: -1px auto auto auto;
    background-color: white;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    z-index: 9;
    display:inline-block;
   // Media Queries
        @include media($m) {
                  }
      // 
      @include media($l) {
            padding-top: 100px;
            padding-bottom: 100px;
                  }
      // 
}
.tf{
  color: #2951a7;
  text-decoration: none;
}
#contacte h2{
  line-height: 1;
}
h6{
  @include SerifPro(400, 2em,#333333);
  @include no-space;
  margin-top: 5px;
}
.bold{
  @include SerifPro(700, 1em,#333333);
}
.formulari{
  @include span-columns(10);
  @include shift(1);
  margin-top: 30px;
  border: 1px solid #f2f2f2;
  background-color: white;
}
.camps-formulari{
  @include span-columns(6 of 10);
  height:auto;
}
.localitzacio{
  @include span-columns(4 of 10);
  height:auto;
}
.transports{
  @include no-space;
}
fieldset{
  @include span-columns(4.5 of 6);
  @include shift(.5);
  margin-top:40px;
}
fieldset .cta{
  margin: 0;
  border: 0;
  padding:0;
}
label{
   @include opensans(600, 1.6em, #333333);
   @include clearfix;
}
.label2{
   @include opensans(400, 1.4em, #333333);
   @include clearfix;
}
.cell{
  @include span-columns(4.5 of 4.5);
  @include clearfix;
}
.input-style{
  @include span-columns(2.5 of 4.5);
  height: 58px;
  border: 1px solid #f2f2f2;
  margin: 10px auto 20px auto;
  padding: 10px;
  border-radius: 2px;
  box-shadow:inset 1px 12px 8px -7px #f5f5f5;
  @include opensans(400, 1.6em, #333333);
}
.input-style-2{
  border: 1px solid #f2f2f2;
  margin: 15px 10px 30px auto;
  padding: 10px;
  border-radius: 2px;
  @include opensans(400, 1.6em, #333333);
}

.cell a{
  @include opensans(600, 1em, #345db7);
  text-decoration: none;
} 
#comments{
  width: 100%;
  height: 150px;
  border: 1px solid #f2f2f2;
  margin: 10px auto;
  padding-top: 10px;
  border-radius: 2px;
  box-shadow:inset 1px 12px 8px -7px #f5f5f5;
  @include opensans(400, 1.6em, #333333);  
}
#contacte ul{
   list-style-type: none;
}
#contacte li{
  margin-top: -1px;
  width: 100%;
  height: 90px;
  border: 1px solid #f2f2f2;
  border-right: none;
  @include opensans(400, 1.6em, #333333);
}
#contacte li:last-child{
  border-bottom: none;
}
.llista_icon{
  @include span-columns(1 of 4);
}
.llista_icon img{
  display: block;
  margin: 0 auto;
  max-height: 36px;
  margin-top: 27px;
}
.llista_text_1 {
  margin-top: 22px;
}
.llista_text p{
  margin-top: 34px;
}
/* ==========================================================================
 Footer
========================================================================== */
footer {
  width:100%;
  height: auto;
  background-color: #2f3542;
  margin-top:-50px;
  z-index: 1;
}

.socialmedia{
  @include span-columns(2 of 10);
  margin-top: 100px;
  display:inline-block;
}
.socialmedia a{
  display:inline-block;
  padding-right: 20px;
}
.logo-footer{
  @include span-columns(6 of 10);
  margin-top: 95px;
  @include clearfix;
}
.logo-footer img{
  width: 35%;
  margin: 0 auto;
  display: block;
}
.idioma{
  @include span-columns(2 of 10);
  margin-top: 100px;
}
.idioma a{
 @include opensans(600, 1.6em,#64666c);
 text-decoration: none;
 padding-left: 60px;

}
.stroke-blau{
  color: #5474b9;
  width: 210px;
  height: 2px;
  margin: 15px auto 0 auto;
  position: relative;
}
.copyright{
  @include opensans(400, 1.4em,#64666c);
  text-align: center;
  display: block;
  margin-top: 20px;
  margin-bottom: 40px;
}


/* ==========================================================================
 Clearfix
========================================================================== */

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}


/* ==========================================================================
 Media Queries
========================================================================== */

@media only screen and (min-width: 35em) {

}
